@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dadce3;
  border-radius: 6px;
  transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: #eaecf1;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}
